.details {
  display: flex;
  .item {
    display: flex;
    align-items: center;
    mat-icon, span {
      font-size: .85rem;
      width: fit-content;
      height: fit-content;
    }
  }
}

.badge-group {
  display: flex;
  .badge {
    border-radius: 5px;
    font-size: .85rem;
    font-weight: lighter;
    background-color: var(--body-background-color);
  }
}
