.fs {
  &-small {
    font-size: .9rem;

    mat-icon {
      width: fit-content;
      height: fit-content;
    }
  }
}

.no-style {
  &-link {
    font-size: inherit;
    color: inherit;
    text-decoration: none;
  }
}
