.company-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 100px;
  color: var(--link-active-text-color);
}

.flip {
  transform: rotate(180deg);
}

.sidenav-container {
  max-height: 100%;
  height: 100%;

  .sidenav {
    display: flex;
    width: 265px;
    border-right: none;

    img.company-image {
      width: 50%;
    }

    .nav-size-toggle {
      cursor: pointer;
    }

    &.mini-nav {
      overflow: hidden;
      width: 60px;

      img, .mat-expansion-indicator {
        display: none;
      }
    }
  }
}

.active-nav-item {
  mat-icon, span {
    color: var(--link-active-text-color) !important;
  }

  background-color: var(--link-active-highlight-color);
}

.nav-list {
  a {
    color: var(--link-text-color);
    cursor: pointer;

    [mat-list-icon] {
      color: var(--link-icon-color);
    }

    &:hover {
      background-color: var(--link-highlight-color);
    }
  }
}

mat-expansion-panel {
  mat-expansion-panel-header {
    padding-left: 0;
  }

  [mat-list-icon] {
    color: var(--link-icon-color);
  }

  &:hover, [mat-list-item]:hover {
    background-color: var(--link-highlight-color);
  }

  &.mat-expanded {
    background-color: inherit;
  }

  &-title {
    padding-left: 16px;
  }
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.menu-user-trigger {
  cursor: pointer;
}
