<div class="page-wrapper">
  <div>
    <mat-form-field class="ms-3 mt-3 pb-0" color="primary" appearance="outline">
      <mat-label>Search</mat-label>
      <input type="search" matInput (input)="onSearch($event.target.value)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <div>
      <bcb-entity-card *ngFor="let entity of onboardingEntities" [entity]="entity"></bcb-entity-card>
    </div>
  </div>
  <mat-paginator *ngIf="totalItems > itemsPerPage"
                 [length]="totalItems"
                 [pageSize]="itemsPerPage"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="onPageChange($event)">
  </mat-paginator>

</div>

<!--Content injected into toolbar-->
<ng-container *cdkPortal>
  <div class="d-flex align-items-center">
    <div class="pageName me-4">
      Onboarding entities
    </div>
    <div class="options">
      <button mat-flat-button class="me-2" (click)="onButtonClick('one')" color="primary">one</button>
      <button mat-flat-button class="me-2" (click)="onButtonClick('two')" color="primary">two</button>
      <button mat-flat-button class="me-2" (click)="onButtonClick('three')" color="primary">three</button>
      <button mat-flat-button class="me-2" (click)="onButtonClick('four')" color="primary">four</button>
    </div>
  </div>
</ng-container>
