/*Material Overrides*/
@import "styles/overrides/material/form-field/mat-form-field";
@import "styles/overrides/material/buttons/buttons";
@import "styles/overrides/material/sidenav/mat-drawer";

@import "styles/theme";
@import '~typeface-roboto/index.css';
@import '~typeface-poppins/index.css';

@import "styles/partials/colors";
@import "styles/partials/layout";
@import "styles/partials/toolbar";
@import "styles/partials/badge";

html, body {
  height: 100%;
  background-color: var(--body-background-color);
  font-family: Poppins, Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 13px;
}

body {
  margin: 0;
}
